// Place all the styles related to the Bases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#base--index {
  th { 
    vertical-align: middle;
    text-align: center;
  }
}

.label-base--new {
  margin-top: 10px;
}

.btn-base--new {
  margin-top: 10px;
}

.label-base--edit {
  margin-top: 10px;
}

.btn-base--edit {
  margin-top: 10px;
}
