// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー勤怠情報テーブル */

#attendance-time {
  td {
    vertical-align: bottom;
    text-align: center;
  }
}

#table-attendances {
  th {
    vertical-align: bottom;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

#btn-fix {
  margin-top: 5px;
  width: 182px; 
}

.btn-select {
  width: 170px;
  height: 40px;
}

.btn-application {
  margin-top: 10px;
  width: 170px;
  height: 50px;
  font-size: 20px;
}

.application-title {
  margin-bottom: 0.5px;
}

.btn-monthapproval {
  margin-top: 10px; 
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }  
}

#btn-import {
  width: 273px;
  margin-top: 10px;
}

#btn-edit {
  width: 100px;  
}

.label-basic-info {
  margin-top: 10px;
}

.btn-basic-info {
  margin-top: 10px;
}

/* 申請お知らせ */

.approval {
  font-size: 1.2em;
  font-weight: bold;  
}

.approval-1 {
  font-size: 1.2em;
  font-weight: bold;  
  color: #800000;
}

.approval-2 {
  font-size: 1.2em;
  font-weight: bold;  
  color: #008000;
}

.approval-3 {
  font-size: 1.2em;
  font-weight: bold;  
  color: #00F;
}

.approval-4 {
  font-size: 1.0em;
  font-weight: normal;  
  color: #800000;
}

.box-1 {
  font-size: 1.06em;
  width: 0.5em; 
  padding: 0.05px 2px;
  border: solid 
  2px #F00; 
  font-weight: bold;
}

.box-2 {
  font-size: 1.06em;
  width: 0.5em; 
  padding: 0.05px 2px;
  border: solid 
  2px  #F00; 
  font-weight: bold;
}

.box-3 {
  font-size: 1.06em;
  width: 0.5em; 
  padding: 0.05px 2px;
  border: solid 
  2px  #F00; 
  font-weight: bold;
}

/* 残業申請 */

.modal-footer {
  text-align: center;
}

/* 勤怠変更 */

#table-worktime-approval {
  th { 
    text-align: center;  
  }
  td {
    text-align: center;  
    vertical-align: middle;
  }
}